.App {
    /* text-align: center; */
    display: flex;
    flex-direction: row;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

.App-button {
  background: none;
  border:none;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
  cursor: pointer;
  color: #61dafb;
  margin-bottom: 5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.form {
  display:flex;
  flex-direction: column;
}

.text-form {
  font-size: 30px;
}

.person-form-outer {
  display: flex;
  flex-direction: column;
  border-width: 3px;
  border-color: gray;
  border-style: solid;
}

.person-form-row {
  display:flex;
  flex-direction: row;
}

.person-form-field {
  flex-grow: 1;
  font-size: 25px;
}

.person-form-field:disabled {
  /* background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;   */
  background-color: gray;
  color:green;
  font-weight: bolder;
}

.person-form-possible-person {
  border-width: 2px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
}

.person-form-possible-person:hover {
  background-color: darkgray;
}

.flex-grow-1 {
  flex-grow: 1;;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.drop-down-container {
  /* position: relative;
  box-sizing: border-box; */
  flex-grow: 1;
}

/* .pro-sidebar {
  color: #adadad;
}

.pro-sidebar-inner {
  background: #1d1d1d;
  height: 100%;
}

.pro-sidebar-layout {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.pro-sidebar-content {
  flex-grow: 1;
}

.react-slidedown.closed {
  display: none;
} */

table.display-table {
  table-layout: fixed;
  width: 100%;
}

table.display-table thead tr,
table.display-table tbody tr {
    width:100%;
    page-break-inside:avoid;
}

.pagebreak-after:after {
  display: block;
  content: "\A0";
  page-break-before: always;
}

table.border-table {
  border-spacing: 0;
}

table.border-table tr td,
table.border-table tr th {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-bottom: none;
  border-right: none;
}

table.border-table tr:last-child td,
table.border-table tr:last-child th {
  border-bottom: 3px solid black;
}

table.border-table tr td:last-child,
table.border-table tr th:last-child {
  border-right: 3px solid black;
}

.center-text {
  text-align: center;
}

@media print {
  .App-header {
    background-color: white !important;
    color: black !important;
    font-size: 10pt !important;
  }
  .App-main-header {
    color: black !important;
    font-size: 10pt !important;
  }
  body * {
    visibility: hidden !important;
  }
  #section-to-print, #section-to-print * {
    visibility: visible !important;
  }
  #navbar,
  #main-page-settings {
    display: none;
  }
  table.padded-cell tr td {
    padding: 15px;
  }
}
